<%- include('./common/header')%>
<section>
  <div class="mb-5">
    <p><%= errMessage %></p>
    <p>お手数ですが部屋を作り直してください。</p>
  </div>
</section>
<div>
  <a href="/makeRoom">部屋を作成する</a>
</div>

<%- include('./common/footer')%>
